<h1>Welcome to Tech Talent Store</h1>
<p>Don't you want to buy some things? It might make you feel more complete...</p>

<div class="row">
	<% @products.each do |product| %>
		<div class="col-md-4">
			<div class="card card-body bg-light">
				<% if product.image.url %>
					<p><%= image_tag product.image.url, class: "storefront-pics" %></p>
				<% end %>
				<h3><%= link_to product.name, product %></h3>
				<p><%= number_to_currency product.price %></p>
				<p>
					<a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
						<i class="fas fa-plus"></i> Quick Info
					</a>
				</p>
			</div>
		</div>
	<!-- Begin Modal -->
	<div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel"><%= product.name %></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <% if product.image.url %>
					<p><%= image_tag product.image.url, class: "storefront-pics" %></p>
				<% end %>
				<h3><%= link_to product.name, product %></h3>
				<p><%= number_to_currency product.price %></p>
				<p>Made By <%= product.brand %></p>
				<p>Product Description: <%= product.description %></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- End Modal -->
	<% end %>
</div>
